.icon-alert{
    font-size: 180px;
}
.loading{
    font-size: 12px;
    font-weight: 100;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}
li.disabled{
    pointer-events: none;
    opacity: 0.4;
}
span.disabled{
    pointer-events: none;
    opacity: 0.4;
}
.cardImage{
    background-position: center; 
    background-size: cover; 
    height: 250px
}
.collection_list li{
    border-bottom: 1px solid #ffffff;
}
@media(max-width: 1200px){
    .cardImage{
        height: 160px
    }
    
}
@media(max-width: 990px){
    .cardImage{
        height: 120px
    }
}
@media(max-width: 780px){
    .cardImage{
        height: 200px
    }
}
@media(max-width: 550px){
    .cardImage{
        height: 300px
    }
}