.darken{
    background-color: #1d1d1d;

}
.center-div{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.w50{
    width: 50%;
}
.padding_default{
    padding: 10px;
}
.clearboth{
    clear: both;
}
.border_all_gray{
    text-shadow:2px 0 0 #171717, 
                -2px 0 0 #171717, 
                0 2px 0 #171717, 
                0 -2px 0 #171717, 
                1px 1px #171717, 
                -1px -1px 0 #171717,
                1px -1px 0 #171717, 
                -1px 1px 0 #171717;
}
.set100{
    width: 100%;
}
a:link {
    color: rgb(113, 210, 240);
    text-decoration: none;
}
a:visited {
    color: rgb(113, 210, 240);
    text-decoration: none;
}
.set_active{
    color: rgb(113, 210, 240);
}
body{
    background-color: #121212;
    color: aliceblue;
    text-align: center;
}
.m0{
    margin: 0 !important;
}