
<!-- Modal -->
<div class="modal fade" id="collection_submit" tabindex="-1" aria-labelledby="collection_submit" aria-hidden="true">
    <div class="modal-dialog darken">
        <div class="modal-content darken">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-file-earmark-text"></i> Criar uma nova colecção no sistema.</h5>
                <button type="button" class="btn text-white" data-bs-dismiss="modal"> <h3><i class="bi bi-x"></i></h3> </button>
            </div>
            <div class="modal-body p-3">
                <input type="text" placeholder="Insira um nome" name="name_collection">
                <br>
                <input type="text" placeholder="Insira uma descrição" name="description_collection">
            </div>
            <p class="fst-italic text-danger" id="collection-danger"></p>
            <div class="modal-footer">
                <button id="submit_new_collection" type="button" class="btn btn-outline-light">
                    <p> Submeter </p>
                    <div class="spinner-border text-light loading" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#submit_new_collection > div').hide();

    $('#collection_submit').on('hide.bs.modal', function (event) {
                        $('#submit_new_collection > p').toggle();
                $('#submit_new_collection > div').toggle();
    });

    $(function() {
        $('#submit_new_collection').click(function() {
            name_text = $('input[name="name_collection"]').val();
            description_text = $('input[name="description_collection"]').val();
            if(name_text != '' && description_text != ''){
                $('#submit_new_collection > p').toggle();
                $('#submit_new_collection > div').toggle();
        
                $.getJSON( "{{ url_for('post_collection') }}", {
                    name: name_text,
                    description: description_text
                }).done(function(e) {
                    $('input[name="name_collection"]').attr('placeholder', name_text);
                    $('input[name="description_collection"').attr('placeholder', description_text);
                    
                    $('input[name="name_collection"]').val('');
                    $('input[name="description_collection"').val('');
                }).fail(function(e) {
                    if(e.responseText = "400"){
                        $('#collection-danger').text( "*favor preencher todos os campos*")
                    }
                    console.log( e.responseText );
                });
            }else{
                $('#collection-danger').text( "*favor preencher todos os campos*" )
            }
        });
    });
</script>