<!-- Footer -->
<footer class="darken text-center text-white mt-3">
    <!-- Grid container -->
    <div class="container p-5">
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Sistema de colecionar.
        </p>
      </section>
      <!-- Section: Text -->
      <hr>
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Você está aqui:</h5>
  
            <ul class="list-unstyled mb-0 text-start">
              <li>
                <a href="#!" class="text-white"><i class="bi bi-caret-right"></i>Login</a>
              </li>
              <li>
                <a href="#!" class="text-white">├── Home</a>
              </li>
              <li>
                <a href="#!" class="text-white">└── Inventory</a>
              </li>
            </ul>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <p style="margin-bottom: -6px"><a class="text-white" href="https://getbootstrap.com/">Power by Boostrap {5.1}</a></p>
      <p class="fst-italic" style="margin-bottom: -6px">and</p>
      <p><a class="text-white" href="https://getbootstrap.com/">Python Flask System <i class="bi bi-lightning-charge-fill"></i></a></p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->