{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./css/components/promo.css') }}">
{% endblock %}

{% block content %}
<div class="rounded darken position-relative">
    <a href="https://www.youtube.com/watch?v=iik25wqIuFo&ab_channel=Rickroll%2Cbutwithadifferentlink">
        <img id="promo" src="" alt="" class="rounded img-fluid">
    </a>
    <div class="position-absolute bottom-0 end-0">
        <a href="https://www.youtube.com/watch?v=XZ5Uv4JKTU4&ab_channel=20t?autoplay=1" class='hover'>
            <div class="bg-primary rounded me-2">
                <p class="m-2 text-white">AD power by IGSSAURIO™</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    promo1 = ["{{ url_for('static', filename='resource/bts1.png') }}", "{{ url_for('static', filename='resource/bts2.png') }}"];
    promo2 = ["{{ url_for('static', filename='resource/calvo1.png') }}","{{ url_for('static', filename='resource/calvo2.png') }}"];
    promo3 = ["{{ url_for('static', filename='resource/jalim1.png') }}","{{ url_for('static', filename='resource/jalim2.png') }}"];
    promo4 = ["{{ url_for('static', filename='resource/rata.png') }}"];
    promo5 = ["{{ url_for('static', filename='resource/chat1.png') }}","{{ url_for('static', filename='resource/chat2.png') }}","{{ url_for('static', filename='resource/chat3.png') }}","{{ url_for('static', filename='resource/chat4.png') }}"];
    promo6 = ["{{ url_for('static', filename='resource/einerd.png') }}"];
    promo7 = ["{{ url_for('static', filename='resource/nft1.png') }}","{{ url_for('static', filename='resource/nft2.png') }}"];
    promo8 = ["{{ url_for('static', filename='resource/daciolo.png') }}"];
    promo9 = ["{{ url_for('static', filename='resource/cris.png') }}"];
    promo10 = ["{{ url_for('static', filename='resource/mateus.png') }}"];
    promo11 = ["{{ url_for('static', filename='resource/rico.png') }}"];
    promo12 = ["{{ url_for('static', filename='resource/edge.png') }}"];

    promotions = [promo1, promo2, promo3, promo4, promo5, promo6, promo7, promo8, promo9, promo10, promo11, promo12];
    //get random nunber by length of array promotions
    function randNum(){
        return Math.floor(Math.random() * Math.floor(promotions.length));
    }
    document.addEventListener('DOMContentLoaded', function() {
        promotion_this = promotions[randNum()];
        function promoReset(i){
            $("#promo").attr("src", promotion_this[i]);
            
            setTimeout(function(){
                if(promotion_this.length > i+1){
                    promoReset(i+1);
                }else{
                    promoReset(0);
                }
            }, 10000);
        }
        if(promotion_this.length == 1){
            $("#promo").attr("src", promotion_this[0]);
        }else{
            promoReset(0);
        }
    }, false);


    
</script>
{% endblock %}