<br>
<!-- Modal -->
<div class="modal fade" id="item_submit" tabindex="-1" aria-labelledby="item_submit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content darken">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-file-earmark-plus"></i> Criar um novo item no sistema.</h5>
                <button type="button" class="btn text-white" data-bs-dismiss="modal"> <h3><i class="bi bi-x"></i></h3> </button>
            </div>
            <div class="modal-body pt-4 ps-5 pe-5 text-start">
                <form enctype="multipart/form-data" id='item_post'>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label" for="name_item">Nome: </label>
                        <div class="col-sm-9">
                            <input type="text" placeholder="Insira um nome" name="name_item" id="name_item">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label" for="decription_item">Descrição: </label>
                        <div class="col-sm-9">
                            <input type="text" placeholder="Insira uma descricao" name="description_item" id="decription_item">
                        </div>
                    <div>
                    <div class="mb-3 row mt-3">
                        <label class="col-sm-3 col-form-label" for="type_item">Tipo: </label>
                        <div class="col-sm-9">
                            <select class="form-select" name="type_select" id="type_item"></select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label" for="collection_item">Coleção: </label>
                        <div class="col-sm-9">
                            <select class="form-select" name="colecao_select" id="collection_item"></select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label" for="image_item">Imagem: </label>
                        <input  class="form-control" type="file" value="Arquivo" name="img_item" id="image_item">
                    </div>
                </form>
            </div>
            <p class="fst-italic text-danger" id="item-danger"></p>
            <div class="modal-footer">
                <button id="new_item_submit" type="button" class="btn btn-outline-light">
                    <p class="align-middle m-0"> Submeter </p>
                    <div class="spinner-border text-light loading" role="status" id="status_text_item">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

{% block script %}
<script>

    $('#new_item_submit > div').hide();

    function toggleInputsItem(){
        $('#new_item_submit > p').toggle();
        $('#new_item_submit > div').toggle();
    }
    function htmlStatusItem(color){
        $("#new_item_submit").removeAttr('class');
        $("#new_item_submit").attr('class', 'btn btn-outline-'+color);
        $("#status_text_item").removeAttr('class');
        $("#status_text_item").attr('class', 'spinner-border text-'+color+' loading');

    }
    function setStatusItem(status){
        switch(status){
            case 'default':
                htmlStatusItem('light')
                break;
            case 'loading':
                htmlStatusItem('warning')
                break;
            case 'success':
                htmlStatusItem('success')
                break;
            case 'error':
                htmlStatusItem('danger')
                break;
            default:
                console.log('Status do request não reconhecido, verifique o código.');
                break;
        }
    }

    $(function() {
        $('#new_item_submit').click(function() {
            if(true){
                toggleInputsItem();
                setStatusItem('loading');
                dataFile = $('#item_post').serialize();
                
                event.preventDefault();
                var form_data = new FormData($('#item_post')[0]);
                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('post_item') }}",
                    data: form_data,
                    contentType: false,
                    processData: false
                }).done(function(e){
                    toggleInputsItem()
                    setStatusItem('success');

                    $('#name_item').val('');
                    $('#decription_item').val('');
                    $('#type_item').selectedIndex = 0;
                    $('#collection_item').selectedIndex = 0;
                    $('#image_item').val('');
                }).fail(function(e){
                    toggleInputsItem()
                    setStatusItem('error');
                    if(e.responseText = "400"){
                        $('#item-danger').text( "*favor preencher todos os campos*")
                    }
                    console.log( e.responseText );
                });
            }else{
                $('#item-danger').text( "*favor preencher todos os campos*" )
            }
        });
    });
</script>
<script>
    function manager_error(){

    }
    function print_in_danger(txt){
        $('#collection-danger').text("<p"+txt+"</p>");
    }

    function setTypes(types){
        $('select[name="type_select"]').empty();
        if(types.length == 0){
            $('select[name="type_select"]').append('<option value="">Nenhum tipo encontrado</option>');
        }else{
            $('select[name="type_select"]').append('<option value="">Selecione um tipo</option>');
            for(i = 0; i < types.length; i++){
                $('select[name="type_select"]').append('<option value="' + types[i].id + '">' + types[i].name + '</option>');
            }
        }
    }
    function setCollections(collections){
        $('#collection_item').empty();
        if(collections.length == 0){
            $('#collection_item').append('<option value="">Nenhuma coleção encontrada</option>');
        }else{
            $('#collection_item').append('<option value="">Selecione uma coleção</option>');
            for(i = 0; i < collections.length; i++){
                $('#collection_item').append('<option value="' + collections[i].id + '">' + collections[i].name + '</option>');
            }
        }
    }

    collections_list = []
    function get_collections(){
        $.get( "{{ url_for('get_collections') }}", function() {
        }).done(function(e) {
            collections_list = e;
            setCollections(collections_list);
        }).fail(function(e) {
            console.log(e);
        })
    }
    
    types_list = []
    function get_types(){
        $.get( "{{ url_for('get_types') }}", function() {
        }).done(function(e) {
            types_list = e;
            setTypes(types_list);
        }).fail(function(e) {
            console.log(e);
        })
    }

    function attrAjax(){
        get_collections();
        get_types();
    }

    $('#item_submit').on('shown.bs.modal', function (event) {
        attrAjax();
        setStatusItem('default');
    });
</script>
{% endblock %}