
<!-- Modal -->
<div class="modal fade" id="item_submit" tabindex="-1" aria-labelledby="item_submit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content darken">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-file-earmark-plus"></i> Criar um novo item no sistema.</h5>
                <button type="button" class="btn text-white" data-bs-dismiss="modal"> <h3><i class="bi bi-x"></i></h3> </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" id='item_post'>
                    <span>Nome: </span>
                    <input type="text" placeholder="Insira um nome" name="name_item">
                    <br>
                    <span>Descrição: </span>
                    <input type="text" placeholder="Insira uma descricao" name="description_item">
                    <br>
                    <span>Type: </span>
                    <select name="type_select">
                    </select>
                    <br>
                    <span>Coleção: </span>
                    <select name="colecao_select"></select>
                    <br>
                    <input type="file" value="Arquivo" name="img_item">
                </form>
            </div>
            <p class="fst-italic text-danger" id="collection-danger"></p>
            <div class="modal-footer">
                <button id="new_item_submit" type="button" class="btn btn-outline-light">
                    <p class="align-middle m-0"> Submeter </p>
                    <div class="spinner-border text-light loading" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

{% block script %}
<script>
    $('#new_item_submit > div').hide();

function toggleInputs(){
    $('#new_item_submit > p').toggle();
    $('#new_item_submit > div').toggle();
}

$(function() {
    $('#new_item_submit').click(function() {
        if(true){
            toggleInputs();
            dataFile = $('#item_post').serialize();
            
            event.preventDefault();
            var form_data = new FormData($('#item_post')[0]);
            $.ajax({
                type: 'POST',
                url: "{{ url_for('post_item') }}",
                data: form_data,
                contentType: false,
                processData: false
            }).done(function(e){
                $('input[name="name_item"]').attr('placeholder', name_item);
                $('input[name="description_item"').attr('placeholder', description_text);
                
                $('input[name="name_item"]').val('');
                $('input[name="description_item"').val('');
                $('select[name="type_select"]').selectedIndex = 0;
                $('select[name="colecao_select"]').selectedIndex = 0;
                $('input[name="img"]').val('');

                toggleInputs()
            }).fail(function(e){
                if(e.responseText = "400"){
                    $('#collection-danger').text( "*favor preencher todos os campos*")
                }
                console.log( e.responseText );
            });
        }else{
            $('#collection-danger').text( "*favor preencher todos os campos*" )
        }
    });
});
</script>
<script>
    function manager_error(){

    }
    function print_in_danger(txt){
        $('#collection-danger').text("<p"+txt+"</p>");
    }

    function setTypes(types){
        $('select[name="type_select"]').empty();
        if(types.length == 0){
            $('select[name="type_select"]').append('<option value="">Nenhum tipo encontrado</option>');
        }else{
            $('select[name="type_select"]').append('<option value="">Selecione um tipo</option>');
            for(i = 0; i < types.length; i++){
                $('select[name="type_select"]').append('<option value="' + types[i].id + '">' + types[i].name + '</option>');
            }
        }
    }
    function setCollections(collections){
        $('select[name="colecao_select"]').empty();
        if(collections.length == 0){
            $('select[name="colecao_select"]').append('<option value="">Nenhuma coleção encontrada</option>');
        }else{
            $('select[name="colecao_select"]').append('<option value="">Selecione uma coleção</option>');
            for(i = 0; i < collections.length; i++){
                $('select[name="colecao_select"]').append('<option value="' + collections[i].id + '">' + collections[i].name + '</option>');
            }
        }
    }

    collections_list = []
    function get_collections(){
        $.get( "{{ url_for('get_collections') }}", function() {
        }).done(function(e) {
            collections_list = e;
            setCollections(collections_list);
        }).fail(function(e) {
            console.log(e);
        })
    }
    
    types_list = []
    function get_types(){
        $.get( "{{ url_for('get_types') }}", function() {
        }).done(function(e) {
            types_list = e;
            setTypes(types_list);
        }).fail(function(e) {
            console.log(e);
        })
    }

    get_collections();
    get_types();
</script>
{% endblock %}