{% extends "templates/template.html" %}

{% block content %}

<div class="row darken padding_default rounded center-div pt-4 pb-4">
    <div class="pt-2 pb-2 pe-5 ps-5">
        <form class="text-end" action="" method="post">
            <h1 class="text-center">Trocar Senha</h1>
            <div class="row mt-4">
                <label class="col-sm-3 col-form-label" for="email">Email: </label>
                <div class="col-sm-9">
                    <input class="form-control" type="email" placeholder="Insira seu email" name="email" id="email">
                </div>
            </div>
            <br>
            <div class="row mt-1">
                <label class="col-sm-3 col-form-label" for="senha_old">Senha Atual: </label>
                <div class="col-sm-9">
                    <input class="form-control" type="password" placeholder="Insira sua senha atual" name="password_atual" id="senha_old">
                </div>
            </div>
            <br>
            <div class="row mt-1">
                <label class="col-sm-3 col-form-label" for="senha_new">Senha nova: </label>
                <div class="col-sm-9">
                    <input class="form-control" type="password" placeholder="Insira sua senha atual" name="password_nova" id="senha_new">
                </div>
            </div>
            
            <button type="submit" value="Enviar" class="btn btn-outline-light mt-3">Enviar</button>
        </form>
    </div>
</div> 

{{ message }}
{% endblock %}