{% extends "templates/template_home.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./css/templates/inventory.css') }}">
{% endblock %}

{% block content %}
<div class="darken mt-5 rouded p-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-2 collection_list">
        </ol>
    </nav>
</div>
<div class="darken rouded mt-2 mb-3 itens_container p-2 text-start">

</div>

{% include "components/promo.html" %}

<div class="modal alert_modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content darken">
        <div class="modal-body">
          <p>Nenhuma Coleção Cadastrada</p>
          <p class="icon-alert"><i class="bi bi-exclamation-circle"></i></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<div class="loading darken">
    <div class="position-absolute bottom-50 end-50">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
  
document.addEventListener('DOMContentLoaded', function() {
    $.get( "{{ url_for('get_collections') }}", function() {
        }).done(function(e) {
            if(e.length == 0){
                $(".alert_modal").modal('show');
            }else{
                    addCollections(e);
                    ajaxRefresh(e[0].id);
            }
        }).fail(function(e) {
            console.log(e);
            alert( "error collection: "+e.responseText );
        })
    });
  
  types_list = []
  $.get( "{{ url_for('get_types') }}", function() {
  }).done(function(e) {
      types_list = e;
      typesSetColor();
  }).fail(function(e) {
      console.log(e);
      alert( "error collection: "+e.responseText );
  })
  function addCollections(list){
      for(const i in list){
          $('.collection_list').append('<li class="breadcrumb-item" name="'+list[i].id+'" onClick="ajaxRefresh('+list[i].id+')">'+list[i].name+'</li>');
      }
      loadingToggle();
  }
  $('.alert_modal').on('hidden.bs.modal', function (event) {
      window.location.href = "{{ url_for('home') }}";
  });
  function loadingToggle(){
      if($('.loading').is(":visible")){
        $('.loading').hide();
      }else{
        $('.loading').show();
      }
  }
  list_bg = ['bg-primary','bg-secondary','bg-success','bg-danger','bg-warning','bg-info','bg-light','bg-dark'];
  function getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
  }
  function getRandomBg(){
      return list_bg[getRandomInt(list_bg.length)];
  }
  function typesSetColor(){
      //set new attribute to object in types_list
      for(const i in types_list){
          types_list[i].color = getRandomBg();
      }
  }
  function get_item(collection_id){
      $.get( "{{ url_for('get_item') }}", {collection_id:collection_id}, function() {
      }).done(function(e) {
            buildItemList(e);
            return true;
      }).fail(function(e) {
            alert( "error collection: "+e.responseText );
            return e;
      })
  }
  function buildItemList(list){
      col = 0;
      html = '';
      for(const i in list){
            console.log(list[i]);
            append_text = ""
            if(col == 0){
                append_text += '<div class="row">';
            }
            append_text += '<div class="col-md-3">';
            append_text +=  `
            <div class="card darken">
                <div class="card-body">
                    <h5 class="card-title">${list[i].name}</h5>`
            append_text += `<span class=`+types_list[list[i].type_id].color+`>`+types_list[list[i].type_id].name+`</span>`
            append_text += `
                    <p class="card-text">${list[i].description}</p>
                </div>
            </div>`
            append_text += '</div>';
            if(col == 3){
                append_text += '</div>';
                col = 0;
            }
            col += 1;
            html += append_text;
        }
        $('.itens_container').html(html);
  }

  after_id = -1;
  function ajaxRefresh(collection_id){
    if(after_id != collection_id){

        get_item(collection_id);
        $('li[name='+collection_id+']').addClass('disabled');
        $('li[name='+after_id+']').removeClass('disabled');
        after_id = collection_id;
        
    }
  }
</script>
{% endblock %}