{% extends "template.html" %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./css/templates/home.css') }}">
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="row padding_default pt-4 pb-4">
    <div class="col-2 darken rounded">
        <br>
        <div class="row">
            <div class="col-4" style="text-align: right;">
                <h2><i class="bi bi-person"></i></h2>
            </div>
            <div class="col-8" style="text-align: left;">  
                <p id="user_name">@{{ current_user.name }} </p>
            </div>
        </div>
        <p>Login on</p>
    </div>
    <div class="col-1"></div>
    <div class="col-9 darken rounded">
        <a href="{{ url_for('itens') }}">ver itens Item</a>
        <br>
        <br>
        <a href="{{ url_for('register_item') }}">Cadastrar Item</a>
        <br>
        <br>
        <a href="{{ url_for('register_collection') }}">Cadastrar Coleção</a>
        <br>
        <br>
        <a href="{{ url_for('register_type') }}">Cadastrar tipo</a>
        <br>
        <br>
        <a href="{{ url_for('change_password') }}">Trocar Password</a>
        <br>
        <br>
        <a href="{{ url_for('logout') }}">Sair</a>
    </div>
    <br>
    <div>
        <h1>Tipos Cadastrados</h1>
        {% for i in type %}
            <p>Nome : {{ i.name }}</p>
            <br>
        {% endfor %}
        <br>
        <br>
        <h1>Coleções Cadastradas</h1>
        {% for i in collection %}
            <p>Nome : {{ i.name }}</p>
            <p>Descrição : {{ i.description }}</p>
            <br>
        {% endfor %}
    </div>
</div>
{% else %}
    
    <div>
        <h1> Não esta logado </h1>
        <a href="{{ url_for('login') }}">Login</a>
        <br>
    </div>

{% endif %}

{{ message }}
{% endblock %}