{% extends "template_home.html" %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./css/templates/home.css') }}">
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="row pt-2 pb-2 container">
    <div class="col-2 darken rounded">
        <p class="user_name"><i class="bi bi-person"></i> @{{ current_user.name }} </p>
        <p class="set_active fst-italic mh-100 d-inline-block">Conectado!</p>
        <br>
        <div class="change_password">
            <p><a href="{{ url_for('change_password') }}"><i class="bi bi-gear-fill"></i> - Trocar senha?</a></p>
        </div>
    </div>
    <div class="col-10 ps-2">
        <div class="darken rounded row menu">        
            <div class="col-md-3 col-sm-6 p-3">
                <a href="{{ url_for('itens') }}" class=" mh-100 mw-100">
                    <button class="btn btn-outline-light  mh-100 mw-100">
                        <i class="bi bi-file-earmark"></i>
                        <p> Ver seus Items </p>
                    </button>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 p-3">
                <button class="btn btn-outline-light mh-100 mw-100" data-bs-toggle="modal" data-bs-target="#item_submit">
                    <i class="bi bi-file-earmark-plus"></i>
                    <p> Cadastrar um novo Item</p>
                </button>
            </div>
            <div class="col-md-3 col-sm-6 p-3">
                <button class="btn btn-outline-light mh-100 mw-100" data-bs-toggle="modal" data-bs-target="#collection_submit">
                    <i class="bi bi-file-earmark-text"></i>
                    <p> Cadastrar uma Coleção </p>
                </button>
            </div>
            <div class="col-md-3 col-sm-6 p-3">
                <button class="btn btn-outline-light mh-100 mw-100" data-bs-toggle="modal" data-bs-target="#type_submit">
                    <i class="bi bi-file-earmark-arrow-up"></i>
                    <p> Cadastrar um novo tipo </p>
                </button>
            </div>
        </div>
    </div>


    <br>
    <div>
        <h1>Tipos Cadastrados</h1>
        {% for i in type %}
            <p>Nome : {{ i.name }}</p>
            <br>
        {% endfor %}
        <br>
        <br>
        <h1>Coleções Cadastradas</h1>
        {% for i in collection %}
            <p>Nome : {{ i.name }}</p>
            <p>Descrição : {{ i.description }}</p>
            <br>
        {% endfor %}
    </div>
</div>
{% else %}
    
    <div>
        <h1> Não esta logado </h1>
        <a href="{{ url_for('login') }}">Login</a>
        <br>
    </div>

{% endif %}
{{ message }}
{% endblock %}
{% block script %}
    {{ super() }}
    {% include "components/item_submit.html" %}
    {% include "components/collection_submit.html" %}
    {% include "components/type_submit.html" %}
{% endblock %}