{% extends "template_home.html" %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./css/templates/home.css') }}">
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="row pt-2 pb-2 container">
    <div class="col-2 darken rounded">
        <p class="user_name"><i class="bi bi-person"></i> @{{ current_user.name }} </p>
        <p class="set_active fst-italic mh-100 d-inline-block">Conectado!</p>
        <br>
        <div class="change_password">
            <p><a href="{{ url_for('change_password') }}"><i class="bi bi-gear-fill"></i> - Trocar senha?</a></p>
        </div>
    </div>
    <div class="col-10 ps-2">
        <div class="darken rounded row menu">        
            <div class="col-md-3 col-sm-6">
                <i class="bi bi-file-earmark"></i>
                <p><a href="{{ url_for('itens') }}">Ver seus Items</a></p>
            </div>
            <div class="col-md-3 col-sm-6">
                <i class="bi bi-file-earmark-plus"></i>
                <p><a href="{{ url_for('register_item') }}"> Cadastrar um novo Item</a></p>
            </div>
            <div class="col-md-3 col-sm-6">
                <i class="bi bi-file-earmark-text"></i>
                <p><a href="{{ url_for('register_collection') }}">Cadastrar uma Coleção</a></p>
            </div>
            <div class="col-md-3 col-sm-6">
                <i class="bi bi-file-earmark-arrow-up"></i>
                <p><a href="{{ url_for('register_type') }}">Cadastrar um novo tipo</a></p>
            </div>
        </div>
    </div>


    <br>
    <div>
        <h1>Tipos Cadastrados</h1>
        {% for i in type %}
            <p>Nome : {{ i.name }}</p>
            <br>
        {% endfor %}
        <br>
        <br>
        <h1>Coleções Cadastradas</h1>
        {% for i in collection %}
            <p>Nome : {{ i.name }}</p>
            <p>Descrição : {{ i.description }}</p>
            <br>
        {% endfor %}
    </div>
</div>
{% else %}
    
    <div>
        <h1> Não esta logado </h1>
        <a href="{{ url_for('login') }}">Login</a>
        <br>
    </div>

{% endif %}
{{ message }}
{% endblock %}
