{% extends "template_home.html" %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./css/templates/inventory.css') }}">
{% endblock %}

{% block content %}
<div class="darken rouded mt-2">   
    a
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb collection_list">
        </ol>
    </nav>
</div>
<div class="modal alert_modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content darken">
        <div class="modal-body">
          <p>Nenhuma Coleção Cadastrada</p>
          <p class="icon-alert"><i class="bi bi-exclamation-circle"></i></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<div class="loading darken">
    <div class="position-absolute bottom-50 end-50">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
  
{% endblock %}

{% block script %}
<script>
    $.get( "{{ url_for('get_collections') }}", function() {
    })
    .done(function(e) {
        if(e.length == 0){
            $(".alert_modal").modal('show');
        }else{
            get_item(2);
            addCollections(e);
        }
    })
    .fail(function(e) {
        console.log(e);
        alert( "error collection: "+e.responseText );
    })

    types_list = []
    $.get( "{{ url_for('get_types') }}", function() {
    })
    .done(function(e) {
        types_list = e;
        typesSetColor();
    })
    .fail(function(e) {
        console.log(e);
        alert( "error collection: "+e.responseText );
    })
    function addCollections(list){
        for(const i in list){
            $('.collection_list').append('<li class="breadcrumb-item">'+list[i].name+'</li>');
        }
        loadingOff();
    }
    $('.alert_modal').on('hidden.bs.modal', function (event) {
        window.location.href = "{{ url_for('home') }}";
    });
    function loadingOff(){
        $('.loading').hide();
    }
    list_bg = ['bg-primary','bg-secondary','bg-success','bg-danger','bg-warning','bg-info','bg-light','bg-dark'];
    function getRandomInt(max) {
        return Math.floor(Math.random() * Math.floor(max));
    }
    function getRandomBg(){
        return list_bg[getRandomInt(list_bg.length)];
    }
    function typesSetColor(){
        //set new attribute to object in types_list
        for(const i in types_list){
            types_list[i].color = getRandomBg();
        }
        console.log(types_list);
    }
    function get_item(collection_id){
        $.get( "{{ url_for('get_items') }}", {collection_id:collection_id}, function() {
        })
        .done(function(e) {
            console.log(e);
        })
        .fail(function(e) {
            console.log(e);
            alert( "error collection: "+e.responseText );
        })
    }
    
</script>
{% endblock %}